.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.closeButton {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 30px;
  height: 30px;
  background: url('/icons/close.svg') center no-repeat;
  opacity: 0.4;
  cursor: pointer;
}

.form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.formInput {
  margin-bottom: 20px;
  display: flex;
}

.listElement {
  display: flex;
  margin: 18px 0px;
  flex-direction: row;
  align-items: center;
}

.flagImage {
  display: flex;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-right: 10px;
}

.groupedInputContainer {
  max-width: 100%;
}

.groupedInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.smallInput {
  width: 150px;
}

.description {
  margin-bottom: 30px;
}

.selectorTitle {
  margin-bottom: 20px;
}

.radioOption {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 12px;
}

.radioOption input[type='radio'] {
  appearance: none;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 24px;
  height: 24px;
  border: 1px solid currentColor;
  border-radius: 50%;
  flex-shrink: 1;
  flex: 0 0 auto;
  margin-right: 10px;
  display: grid;
  place-content: center;
}

.radioOption input[type='radio']::before {
  content: '';
  width: 13px;
  height: 13px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

.radioOption input[type='radio']:checked::before {
  transform: scale(1);
  background-color: #000;
}

.radioOption label {
  display: block;
  flex: 1;
}

.otherTextInput {
  font-family: inherit;
  font-size: 1em;
  border-bottom: 1px solid #808080;
  padding: 15px;
  width: calc(100% - 30px);
}

.otherError {
  color: #ff0000;
  margin-top: 10px;
}

.otherTextInput.hasError {
  border-bottom: 1px solid #ff0000;
}

.loadingContainer{
  display: flex;
  justify-content: center;
}


@media only screen and (max-width: 600px) {
  .groupedInput {
    flex-direction: column;
  }

  .smallInput {
    width: auto;
  }
  .closeButton {
    top: 0px;
    right: 10px;
  }
}
