.inputContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.label {
  font-weight: 500;
  font-size: 0.88em;
  line-height: 140%;
  margin: 10px 0px;
}

.datePicker {
  width: 100%;
  border: 0px;
}

.error {
  color: #ff0000;
  font-size: 0.75em;
  font-weight: 500;
}
