.container {
}

.closeButton {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 30px;
  height: 30px;
  background: url('/icons/close.svg') center no-repeat;
  opacity: 0.4;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .closeButton {
    top: 0px;
    right: 10px;
  }
}
